/work/assignments/01-06-12s18020-12s18050/laguage-fundamentals/nbproject/private/
/work/assignments/01-06-12s18020-12s18050/laguage-fundamentals/build/
/work/assignments/01-06-12s18020-12s18050/language-fundamentals/nbproject/private/
/work/assignments/01-06-12s18020-12s18050/language-fundamentals/build/
/work/assignments/01-06-12s18020-12s18050/student_database/nbproject/private/
/work/assignments/02-bla/student database/nbproject/private/